{% extends "teacher_portal/base.html" %}

{% block teacher_title %}{% if lesson %}Edit Lesson{% else %}Add Lesson{% endif %}{% endblock %}
{% block teacher_subtitle %}{{ course.title }}{% endblock %}

{% block teacher_content %}
<form class="teacher-form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="form-actions">
    <button class="teacher-btn teacher-btn-primary" type="submit"><i data-lucide="save"></i>Save</button>
    <a class="teacher-btn" href="{% url 'teacher_portal:lessons' course.pk %}">Back</a>
  </div>
</form>
{% endblock %}

